<img src="/static/sdvx.png" alt="Controller" class="sdvx" usemap="#Control">
<map name="Control">
	<area target="" class="BT-A" title="BT-A" coords="352,563,582,333" shape="rect">
	<area target="" class="BT-B" title="BT-B" coords="636,333,866,559" shape="rect">
	<area target="" class="BT-C" title="BT-C" coords="921,331,1151,559" shape="rect">
	<area target="" class="BT-D" title="BT-D" coords="1206,333,1436,561" shape="rect">
	<area target="" class="FX-L" title="FX-L" coords="400,627,809,827" shape="rect">
	<area target="" class="FX-R" title="FX-R" coords="978,627,1391,829" shape="rect">
	<area target="" class="Start" title="Start" coords="832,43,953,162" shape="rect">
	<area target="" class="VOL-L-L" title="VOL-L-L" coords="216,76,217,320,161,306,117,266,98,222,96,175,118,123,161,85" shape="poly">
	<area target="" class="VOL-L-R" title="VOL-L-R" coords="214,74,219,318,279,303,310,274,331,247,340,195,328,147,303,107,265,85" shape="poly">
	<area target="" class="VOL-R-L" title="VOL-R-L" coords="1568,76,1571,321,1526,310,1492,290,1466,263,1451,213,1450,167,1472,123,1508,90,1538,76" shape="poly">
	<area target="" class="VOL-R-R" title="VOL-R-R" coords="1568,74,1571,318,1619,310,1671,269,1702,205,1682,147,1639,95,1606,82" shape="poly">
</map>